* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4e7;
    max-width: 100%;
    min-height: 100%;
}

.accordion {
    flex: 1 1 auto;
    max-width: 50vw;
}

.accordion:hover p {
    color: black;
    transition: 1s ease;
}

.accordion:hover span {
    opacity: 1;
}

.accordion-title {
    padding: 2rem 0 2rem;
}

.accordion__item-label {
    font-size: 1.5rem;
    color: blue;
}

.accordion__item-label:hover {
    cursor: pointer;
}

.accordion__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
    border-top: 0.2rem solid #bcb88a;
    text-align: center;
}

span {
    opacity: 0;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
}

.accordion__item-img {
    display: block;
    max-height: 0;
    margin: 0 auto;
    transition: 0.5s ease;
}

.accordion__item:hover .accordion__item-img {
    max-height: 30rem;
    margin: 0 auto;
    transition: 0.5s ease;
}

.accordion__item:hover .accordion__item-content span {
    transition: 0.5s ease;
    transform: rotate(45deg);
}

.accordion__item-input:checked + .accordion__item-label > .accordion__item-img {
    max-height: 30rem;
}

.accordion__item-input:checked + .accordion__item-label  span {
    transform: rotate(45deg);
}

.accordion__item-input:checked  + .accordion__item-label  p {
    color: black;
}
